*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container{
    background-image: url('/bg-Img4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.todo-cont {
    width: 100%;
    max-width: 350px;
    background-color: #e099f3;
    padding: 30px 30px;
    border-radius: 10px;
}

.inner-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin: 25px 0;
}

input {
    flex: 1;
    outline: none;
    border: none;
    background: #edeef0;
    padding: 10px;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #e8b9f5;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
}

button:hover{
    background-color: #e099f3;
}

ul li {
    list-style: none;
    padding: 8px 8px 10px 35px;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1.5px solid #edeef0;
    top: 10px;
    left: 8px;
}

ul li.checked {
    text-decoration: line-through;
}

ul li.checked::before {
    background-color: #edeef0;
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: #edeef0;
    line-height: 30px;
    text-align: center;
}

ul li span:hover {
    background-color: #e8b9f5;
    border-radius: 50%;
}